<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title }}</title>
  <link rel="shortcut icon" href="{{ "/" | relative_url  }}assets/images/favicon.ico">
  <link rel="stylesheet" href="{{ "/" | relative_url  }}assets/css/style.css">
  <link rel="alternate" type="application/rss+xml" title="My Blog" href="{{ "/" | relative_url  }}feed.xml">
  <link rel="stylesheet" href="{{ "/" | relative_url  }}assets/css/highlight.css">
</head>
<body>

  {% include navigation.html %}

  <section id="wrapper" class="{% if page.profile %}home{% endif %}">
    <article class="post">
        <header>
            <h1>{{ page.title }}</h1>
            <h2 class="headline">{{ page.date | date:"%B %-d, %Y" }}</h2>
        </header>
        <section id="post-body">
            {{content}}
        </section>
    </article>
    <footer id="post-meta" class="clearfix">
        <a href="http://twitter.com/{{ site.authorTwitter }}">
            <img class="avatar" src="{{ "/" | relative_url  }}assets/images/avatar.png">
            <div>
                <span class="dark">{{ site.author }}</span>
                <span>{{ site.description }}</span>
            </div>
        </a>

        <section id="sharing">
            {% include share.html %}
        </section>
    </footer>

    <!-- Disqus comments -->
    {% if site.disqus %}
        <div class="archive readmore">
            <h3>Comments</h3>
            {% include disqus.html %}
        </div>
    {% endif %}

    <!-- Archive post list -->
    {% if page.archive %}
        <ul id="post-list" class="archive readmore">
            <h3>Read more</h3>
            {% for post in site.posts %}
                <li>
                    <a href="{{ "/" | relative_url  }}{{ post.url | remove_first: '/' }}">{{ post.title }}<aside class="dates">{{ post.date | date:"%b %d" }}</aside></a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
  </section>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="{{ "/" | relative_url  }}assets/js/main.js"></script>
  <script src="{{ "/" | relative_url  }}assets/js/highlight.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>



